apps/n8n-workflows/workflow-5-webhook-handler.json
{
  "name": "Workflow 5 — Webhook Handler (Jira + GitHub Real-Time)",
  "description": "Receives inbound webhooks from Jira and GitHub. Verifies payload, routes by event type, and posts to /internal/sync/event for near-real-time updates.",
  "version": "1.1.0",
  "active": true,
  "nodes": [
    {
      "id": "node-jira-wh",
      "name": "Jira Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200],
      "webhookId": "jira-events",
      "parameters": {
        "httpMethod": "POST",
        "path": "jira-events",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      }
    },
    {
      "id": "node-github-wh",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 420],
      "webhookId": "github-events",
      "parameters": {
        "httpMethod": "POST",
        "path": "github-events",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      }
    },
    {
      "id": "node-route-jira",
      "name": "Route Jira Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [480, 200],
      "parameters": {
        "mode": "expression",
        "output": "={{ ['jira:issue_updated', 'jira:issue_created', 'sprint_started', 'sprint_completed'].includes($json.body.webhookEvent) ? 0 : 1 }}",
        "options": {}
      }
    },
    {
      "id": "node-normalise-jira",
      "name": "Normalise Jira Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 120],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payload = $json.body;\nconst issue = payload.issue || {};\n\nfunction normaliseStatus(statusCategory) {\n  const key = statusCategory?.key || '';\n  if (key === 'new') return 'todo';\n  if (key === 'indeterminate') return 'in_progress';\n  if (key === 'done' || key === 'complete') return 'done';\n  return 'in_progress';\n}\n\nreturn {\n  workspace_id: $env.DEFAULT_WORKSPACE_ID,\n  source: 'jira',\n  event_type: payload.webhookEvent,\n  payload: {\n    issue: {\n      id: String(issue.id ?? ''),\n      key: issue.key ?? '',\n      summary: issue.fields?.summary ?? '',\n      status: normaliseStatus(issue.fields?.status?.statusCategory),\n      updated_at: issue.fields?.updated ? new Date(issue.fields.updated).toISOString() : new Date().toISOString()\n    }\n  },\n  received_at: new Date().toISOString()\n};"
      }
    },
    {
      "id": "node-normalise-github",
      "name": "Normalise GitHub Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 420],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payload = $json.body;\nconst pr = payload.pull_request || {};\n\nreturn {\n  workspace_id: $env.DEFAULT_WORKSPACE_ID,\n  source: 'github',\n  event_type: payload.action ? `pull_request.${payload.action}` : 'pull_request',\n  payload: {\n    number: pr.number,\n    title: pr.title,\n    state: pr.state,\n    merged: pr.merged ?? false,\n    merged_at: pr.merged_at ? new Date(pr.merged_at).toISOString() : null,\n    created_at: pr.created_at ? new Date(pr.created_at).toISOString() : new Date().toISOString(),\n    updated_at: pr.updated_at ? new Date(pr.updated_at).toISOString() : new Date().toISOString()\n  },\n  received_at: new Date().toISOString()\n};"
      }
    },
    {
      "id": "node-post-event",
      "name": "POST to Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GATEWAY_INTERNAL_URL }}/internal/sync/event",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-API-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "node-skip-unknown",
      "name": "Skip Unknown Jira Event",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [720, 320],
      "parameters": {}
    },
    {
      "id": "node-alert-wh-error",
      "name": "Alert on Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1180, 460],
      "credentials": {
        "slackApi": { "name": "Slack Bot — SprintPulse Ops" }
      },
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $env.SLACK_OPS_CHANNEL_ID }}",
          "mode": "id"
        },
        "text": "={{ '🚨 *Workflow 5 — Webhook Handler FAILED*\\nError: ' + ($json.message ?? JSON.stringify($json)) + '\\nTimestamp: ' + new Date().toISOString() }}"
      }
    }
  ],
  "connections": {
    "Jira Webhook": {
      "main": [[{ "node": "Route Jira Event", "type": "main", "index": 0 }]]
    },
    "GitHub Webhook": {
      "main": [[{ "node": "Normalise GitHub Event", "type": "main", "index": 0 }]]
    },
    "Route Jira Event": {
      "main": [
        [{ "node": "Normalise Jira Event", "type": "main", "index": 0 }],
        [{ "node": "Skip Unknown Jira Event", "type": "main", "index": 0 }]
      ]
    },
    "Normalise Jira Event": {
      "main": [[{ "node": "POST to Gateway", "type": "main", "index": 0 }]]
    },
    "Normalise GitHub Event": {
      "main": [[{ "node": "POST to Gateway", "type": "main", "index": 0 }]]
    },
    "POST to Gateway": {
      "main": [[]],
      "error": [[{ "node": "Alert on Error", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
