apps/n8n-workflows/workflow-2-github-pr-sync.json
{
  "name": "Workflow 2 — GitHub PR Sync",
  "description": "Polls GitHub every 15 minutes for PR metrics. Computes review lag, merge rate, and open PR age, then posts to /internal/sync/github.",
  "version": "1.2.0",
  "active": true,
  "nodes": [
    {
      "id": "node-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      }
    },
    {
      "id": "node-2",
      "name": "Get Active Workspaces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GATEWAY_INTERNAL_URL }}/internal/workspaces/active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Internal-API-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }]
        },
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "node-2b",
      "name": "Extract Workspaces",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [660, 300],
      "parameters": {
        "fieldToSplitOut": "data",
        "include": "noOtherFields"
      }
    },
    {
      "id": "node-4",
      "name": "Get PRs from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "credentials": {
        "httpHeaderAuth": { "name": "GitHub Token — SprintPulse" }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.github_repos[0] }}/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "state", "value": "all" },
            { "name": "sort", "value": "updated" },
            { "name": "direction", "value": "desc" },
            { "name": "per_page", "value": "100" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "node-5",
      "name": "Compute PR Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const workspace = $('Extract Workspaces').item.json;\nconst repoName = (workspace.github_repos ?? [])[0] ?? '';\nconst prs = Array.isArray($json) ? $json : [];\nconst now = Date.now();\n\nconst merged = prs.filter(pr => pr.state === 'closed' && pr.merged_at);\nconst open = prs.filter(pr => pr.state === 'open');\nconst closedWithoutMerge = prs.filter(pr => pr.state === 'closed' && !pr.merged_at);\n\nconst reviewLags = merged\n  .filter(pr => pr.merged_at && pr.created_at)\n  .map(pr => (new Date(pr.merged_at).getTime() - new Date(pr.created_at).getTime()) / 3600000);\n\nconst avgReviewLag = reviewLags.length > 0\n  ? reviewLags.reduce((s, v) => s + v, 0) / reviewLags.length\n  : 0;\n\nconst oldestOpenDays = open.length > 0\n  ? Math.max(...open.map(pr => (now - new Date(pr.created_at).getTime()) / 86400000))\n  : 0;\n\nconst totalClosed = merged.length + closedWithoutMerge.length;\nconst mergeRate = totalClosed > 0 ? merged.length / totalClosed : 0;\n\nreturn {\n  workspace_id: workspace.id,\n  repo_full_name: repoName,\n  prs_merged: merged.length,\n  prs_open: open.length,\n  prs_closed_without_merge: closedWithoutMerge.length,\n  avg_review_lag_hours: Math.round(avgReviewLag * 10) / 10,\n  oldest_open_pr_days: Math.round(oldestOpenDays * 10) / 10,\n  merge_rate: Math.round(mergeRate * 10000) / 10000,\n  synced_at: new Date().toISOString()\n};"
      }
    },
    {
      "id": "node-6",
      "name": "POST to Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GATEWAY_INTERNAL_URL }}/internal/sync/github",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-API-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "node-7",
      "name": "Check Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.status }}", "rightValue": "accepted", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-8",
      "name": "Alert on Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1740, 460],
      "credentials": {
        "slackApi": { "name": "Slack Bot — SprintPulse Ops" }
      },
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#ops-alerts",
        "text": "={{ '🚨 *Workflow 2 — GitHub PR Sync FAILED*\\nRepo: ' + ($('Extract Workspaces').item.json.github_repos[0] ?? 'unknown') + '\\nError: ' + ($json.message ?? JSON.stringify($json)) + '\\nTimestamp: ' + new Date().toISOString() }}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get Active Workspaces", "type": "main", "index": 0 }]]
    },
    "Get Active Workspaces": {
      "main": [[{ "node": "Extract Workspaces", "type": "main", "index": 0 }]]
    },
    "Extract Workspaces": {
      "main": [[{ "node": "Get PRs from GitHub", "type": "main", "index": 0 }]]
    },
    "Get PRs from GitHub": {
      "main": [[{ "node": "Compute PR Metrics", "type": "main", "index": 0 }]]
    },
    "Compute PR Metrics": {
      "main": [[{ "node": "POST to Gateway", "type": "main", "index": 0 }]]
    },
    "POST to Gateway": {
      "main": [[{ "node": "Check Response", "type": "main", "index": 0 }]]
    },
    "Check Response": {
      "main": [
        [],
        [{ "node": "Alert on Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
