apps/n8n-workflows/workflow-4-google-calendar-sync.json
{
  "name": "Workflow 4 — Google Calendar Meeting Sync",
  "description": "Polls Google Calendar every 60 minutes. Classifies meetings by type (standup, retro, planning, review) and posts to /internal/sync/calendar.",
  "version": "1.0.0",
  "active": true,
  "nodes": [
    {
      "id": "node-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      }
    },
    {
      "id": "node-2",
      "name": "Get Active Workspaces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.GATEWAY_INTERNAL_URL }}/internal/workspaces/active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Internal-API-Key", "value": "={{ $vars.INTERNAL_API_KEY }}" }]
        }
      }
    },
    {
      "id": "node-3",
      "name": "Split By Workspace",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": { "batchSize": 1 }
    },
    {
      "id": "node-4",
      "name": "Get Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [900, 300],
      "credentials": {
        "googleCalendarOAuth2Api": { "name": "Google Calendar OAuth2 — SprintPulse" }
      },
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendarId": "primary",
        "returnAll": false,
        "limit": 250,
        "timeMin": "={{ new Date(Date.now() - 7 * 24 * 3600000).toISOString() }}",
        "timeMax": "={{ new Date(Date.now() + 14 * 24 * 3600000).toISOString() }}"
      }
    },
    {
      "id": "node-5",
      "name": "Classify Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const events = $input.all().map(i => i.json);\nconst workspaceItem = $('Split By Workspace').item.json;\n\nconst MEETING_PATTERNS = [\n  { type: 'standup', keywords: ['standup', 'stand-up', 'stand up', 'daily scrum', 'daily sync'] },\n  { type: 'retrospective', keywords: ['retro', 'retrospective', 'sprint retro', 'team retro'] },\n  { type: 'sprint_planning', keywords: ['sprint planning', 'planning poker', 'story pointing', 'backlog refinement', 'grooming'] },\n  { type: 'sprint_review', keywords: ['sprint review', 'demo', 'showcase', 'sprint demo'] }\n];\n\nfunction classifyEvent(title) {\n  const lower = (title || '').toLowerCase();\n  for (const { type, keywords } of MEETING_PATTERNS) {\n    if (keywords.some(k => lower.includes(k))) return type;\n  }\n  return 'other';\n}\n\nconst classified = events\n  .filter(e => e.start && (e.start.dateTime || e.start.date))\n  .map(e => {\n    const startTime = e.start.dateTime || `${e.start.date}T09:00:00Z`;\n    const endTime = e.end?.dateTime || `${e.end?.date}T10:00:00Z`;\n    const durationMs = new Date(endTime) - new Date(startTime);\n    const durationMins = Math.max(0, Math.floor(durationMs / 60000));\n\n    return {\n      event_id: e.id,\n      title: e.summary || 'Untitled Meeting',\n      meeting_type: classifyEvent(e.summary),\n      start_time: startTime,\n      end_time: endTime,\n      attendee_count: (e.attendees || []).length,\n      is_recurring: !!(e.recurringEventId),\n      duration_minutes: durationMins\n    };\n  });\n\nreturn [{\n  json: {\n    workspace_id: workspaceItem.id,\n    events: classified,\n    synced_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "node-6",
      "name": "POST to Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.GATEWAY_INTERNAL_URL }}/internal/sync/calendar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-API-Key", "value": "={{ $vars.INTERNAL_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ $json }}"
      }
    },
    {
      "id": "node-7",
      "name": "Alert on Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1560, 460],
      "credentials": {
        "slackApi": { "name": "Slack Bot — SprintPulse Ops" }
      },
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#ops-alerts",
        "text": "🚨 *Workflow 4 — Google Calendar Sync FAILED*\nError: {{ $json.message }}\nTimestamp: {{ new Date().toISOString() }}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Get Active Workspaces", "type": "main", "index": 0 }]] },
    "Get Active Workspaces": { "main": [[{ "node": "Split By Workspace", "type": "main", "index": 0 }]] },
    "Split By Workspace": { "main": [[{ "node": "Get Calendar Events", "type": "main", "index": 0 }]] },
    "Get Calendar Events": { "main": [[{ "node": "Classify Events", "type": "main", "index": 0 }]] },
    "Classify Events": { "main": [[{ "node": "POST to Gateway", "type": "main", "index": 0 }]] },
    "POST to Gateway": {
      "main": [[{ "node": "Split By Workspace", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Alert on Error", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Workflow Error Handler"
  }
}
