apps/n8n-workflows/workflow-6-report-generation-trigger.json
{
  "name": "Workflow 6 — Report Generation Trigger",
  "description": "Weekly cron (Friday 08:00 workspace TZ) and manual HTTP trigger. Fetches active workspaces, triggers report generation for each, polls for completion, and DMs the SM on Slack.",
  "version": "1.0.0",
  "active": true,
  "nodes": [
    {
      "id": "node-cron",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 200],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 5"
            }
          ]
        }
      }
    },
    {
      "id": "node-manual",
      "name": "Manual Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 380],
      "webhookId": "manual-report-trigger",
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-reports",
        "responseMode": "onReceived",
        "responseData": "{{ JSON.stringify({triggered: true}) }}",
        "authentication": "headerAuth",
        "authPropertyName": "X-Internal-API-Key",
        "authPropertyValue": "={{ $env.INTERNAL_API_KEY }}"
      }
    },
    {
      "id": "node-get-workspaces",
      "name": "Get Active Workspaces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GATEWAY_INTERNAL_URL }}/internal/workspaces/active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Internal-API-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }]
        }
      }
    },
    {
      "id": "node-split",
      "name": "Split By Workspace",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [700, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "node-trigger-gen",
      "name": "Trigger Report Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GATEWAY_URL }}/v1/reports/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.SERVICE_ACCOUNT_JWT }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({workspace_id: $json.id, sprint_id: $json.active_sprint_id, template: 'standard'}) }}"
      }
    },
    {
      "id": "node-wait",
      "name": "Wait 120s for Generation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1140, 300],
      "parameters": {
        "resume": "timeInterval",
        "unit": "seconds",
        "amount": 120
      }
    },
    {
      "id": "node-poll-status",
      "name": "Poll Report Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GATEWAY_URL }}/v1/reports/{{ $('Trigger Report Generation').item.json.data.report_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.SERVICE_ACCOUNT_JWT }}" }
          ]
        }
      }
    },
    {
      "id": "node-check-status",
      "name": "Generation Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1580, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "draft",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "node-notify-sm",
      "name": "Notify SM via Slack DM",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1800, 200],
      "credentials": {
        "slackApi": { "name": "Slack Bot — SprintPulse" }
      },
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $('Split By Workspace').item.json.sm_slack_user_id }}",
        "text": "👋 Your *{{ $('Poll Report Status').item.json.data.sprint_name }}* report is ready for review!\n\nPlease review and approve it here: {{ $env.APP_URL }}/reports/{{ $('Trigger Report Generation').item.json.data.report_id }}\n\n_This report was auto-generated by SprintPulse. Review it takes ~5 minutes._"
      }
    },
    {
      "id": "node-retry-or-alert",
      "name": "Alert — Generation Failed/Pending",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1800, 420],
      "credentials": {
        "slackApi": { "name": "Slack Bot — SprintPulse Ops" }
      },
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#ops-alerts",
        "text": "⚠️ *Report generation still pending or failed after 2min*\nReport ID: {{ $('Trigger Report Generation').item.json.data.report_id }}\nWorkspace: {{ $('Split By Workspace').item.json.id }}\nStatus: {{ $json.data.status }}\nError: {{ $json.data.error_message || 'none' }}"
      }
    }
  ],
  "connections": {
    "Weekly Schedule": { "main": [[{ "node": "Get Active Workspaces", "type": "main", "index": 0 }]] },
    "Manual Webhook Trigger": { "main": [[{ "node": "Get Active Workspaces", "type": "main", "index": 0 }]] },
    "Get Active Workspaces": { "main": [[{ "node": "Split By Workspace", "type": "main", "index": 0 }]] },
    "Split By Workspace": { "main": [[{ "node": "Trigger Report Generation", "type": "main", "index": 0 }]] },
    "Trigger Report Generation": { "main": [[{ "node": "Wait 120s for Generation", "type": "main", "index": 0 }]] },
    "Wait 120s for Generation": { "main": [[{ "node": "Poll Report Status", "type": "main", "index": 0 }]] },
    "Poll Report Status": { "main": [[{ "node": "Generation Complete?", "type": "main", "index": 0 }]] },
    "Generation Complete?": {
      "main": [
        [{ "node": "Notify SM via Slack DM", "type": "main", "index": 0 }],
        [{ "node": "Alert — Generation Failed/Pending", "type": "main", "index": 0 }]
      ]
    },
    "Notify SM via Slack DM": {
      "main": [[{ "node": "Split By Workspace", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Workflow Error Handler"
  }
}
