apps/n8n-workflows/workflow-1-jira-sprint-sync.json
{
  "name": "Workflow 1 — Jira Sprint Sync",
  "description": "Polls Jira every 15 minutes for active sprint data. Normalises ticket statuses and burndown, then posts to /internal/sync/jira.",
  "version": "1.2.0",
  "active": true,
  "nodes": [
    {
      "id": "node-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      }
    },
    {
      "id": "node-2",
      "name": "Get Active Workspaces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GATEWAY_INTERNAL_URL }}/internal/workspaces/active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-API-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "node-2b",
      "name": "Extract Workspaces",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [660, 300],
      "parameters": {
        "fieldToSplitOut": "data",
        "include": "noOtherFields"
      }
    },
    {
      "id": "node-4",
      "name": "Get Jira Active Sprints",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "credentials": {
        "httpBasicAuth": { "name": "Jira Basic Auth — SprintPulse" }
      },
      "parameters": {
        "method": "GET",
        "url": "={{ $json.jira_base_url }}/rest/agile/1.0/board/{{ $json.jira_board_id }}/sprint",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "state", "value": "active" }
          ]
        },
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "node-4c",
      "name": "Enrich Sprints",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const workspace = $('Extract Workspaces').item.json;\nconst sprints = $json.values ?? [];\nconst enriched = sprints.map(s => ({\n  ...s,\n  workspace_id: workspace.id,\n  jira_base_url: workspace.jira_base_url\n}));\nreturn { values: enriched };"
      }
    },
    {
      "id": "node-4b",
      "name": "Extract Active Sprints",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1300, 300],
      "parameters": {
        "fieldToSplitOut": "values",
        "include": "noOtherFields"
      }
    },
    {
      "id": "node-6",
      "name": "Get Sprint Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300],
      "credentials": {
        "httpBasicAuth": { "name": "Jira Basic Auth — SprintPulse" }
      },
      "parameters": {
        "method": "GET",
        "url": "={{ $json.jira_base_url }}/rest/api/3/search/jql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "jql", "value": "={{ 'sprint = ' + $json.id + ' AND updated >= -15m' }}" },
            { "name": "fields", "value": "summary,status,assignee,customfield_10016,updated,priority,labels" },
            { "name": "maxResults", "value": "200" }
          ]
        },
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "node-7",
      "name": "Normalise Sprint Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const sprint = $('Extract Active Sprints').item.json;\nconst workspaceId = sprint.workspace_id;\nconst issues = $json.issues ?? [];\n\nfunction normaliseStatus(key) {\n  if (key === 'new') return 'todo';\n  if (key === 'indeterminate') return 'in_progress';\n  if (key === 'complete') return 'done';\n  return 'in_progress';\n}\n\nconst normalised = issues.map(issue => ({\n  id: issue.id,\n  key: issue.key,\n  summary: issue.fields.summary,\n  status: normaliseStatus(issue.fields.status?.statusCategory?.key),\n  assignee: issue.fields.assignee?.displayName ?? null,\n  story_points: issue.fields.customfield_10016 ?? null,\n  updated_at: new Date(issue.fields.updated).toISOString(),\n  blocked_days: issue.fields.status?.name?.toLowerCase() === 'blocked'\n    ? Math.floor((Date.now() - new Date(issue.fields.updated).getTime()) / 86400000)\n    : 0,\n  labels: issue.fields.labels ?? [],\n  priority: issue.fields.priority?.name ?? null\n}));\n\nconst completed = normalised.filter(i => i.status === 'done');\nconst inProgress = normalised.filter(i => i.status === 'in_progress');\nconst blocked = normalised.filter(i => i.status === 'blocked');\n\nconst totalSP = normalised.reduce((s, i) => s + (i.story_points ?? 0), 0);\nconst completedSP = completed.reduce((s, i) => s + (i.story_points ?? 0), 0);\nconst burndown = totalSP > 0 ? Math.round((completedSP / totalSP) * 10000) / 100 : 0;\n\nreturn {\n  sprint_id: String(sprint.id),\n  sprint_name: sprint.name,\n  board_id: String(sprint.originBoardId),\n  workspace_id: workspaceId,\n  start_date: new Date(sprint.startDate).toISOString(),\n  end_date: new Date(sprint.endDate).toISOString(),\n  state: sprint.state,\n  total_story_points: totalSP,\n  completed_story_points: completedSP,\n  burndown_percent: burndown,\n  tickets_completed: completed,\n  tickets_in_progress: inProgress,\n  tickets_blocked: blocked,\n  synced_at: new Date().toISOString()\n};"
      }
    },
    {
      "id": "node-8",
      "name": "POST to Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GATEWAY_INTERNAL_URL }}/internal/sync/jira",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-API-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "node-9",
      "name": "Check Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2100, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.status }}", "rightValue": "accepted", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-10",
      "name": "Alert on Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2300, 460],
      "credentials": {
        "slackApi": { "name": "Slack Bot — SprintPulse Ops" }
      },
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#ops-alerts",
        "text": "={{ '🚨 *Workflow 1 — Jira Sprint Sync FAILED*\\nSprint: ' + ($('Extract Active Sprints').item.json.name ?? 'unknown') + '\\nError: ' + ($json.message ?? JSON.stringify($json)) + '\\nTimestamp: ' + new Date().toISOString() }}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get Active Workspaces", "type": "main", "index": 0 }]]
    },
    "Get Active Workspaces": {
      "main": [[{ "node": "Extract Workspaces", "type": "main", "index": 0 }]]
    },
    "Extract Workspaces": {
      "main": [[{ "node": "Get Jira Active Sprints", "type": "main", "index": 0 }]]
    },
    "Get Jira Active Sprints": {
      "main": [[{ "node": "Enrich Sprints", "type": "main", "index": 0 }]]
    },
    "Enrich Sprints": {
      "main": [[{ "node": "Extract Active Sprints", "type": "main", "index": 0 }]]
    },
    "Extract Active Sprints": {
      "main": [[{ "node": "Get Sprint Issues", "type": "main", "index": 0 }]]
    },
    "Get Sprint Issues": {
      "main": [[{ "node": "Normalise Sprint Data", "type": "main", "index": 0 }]]
    },
    "Normalise Sprint Data": {
      "main": [[{ "node": "POST to Gateway", "type": "main", "index": 0 }]]
    },
    "POST to Gateway": {
      "main": [[{ "node": "Check Response", "type": "main", "index": 0 }]]
    },
    "Check Response": {
      "main": [
        [],
        [{ "node": "Alert on Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
