apps/n8n-workflows/workflow-3-slack-blocker-detection.json
{
  "name": "Workflow 3 — Slack Blocker Detection",
  "description": "Polls monitored Slack channels every 30 minutes. Scans messages for blocker/risk keywords, deduplicates, and posts to /internal/sync/slack-signals.",
  "version": "1.0.0",
  "active": true,
  "nodes": [
    {
      "id": "node-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 30 }]
        }
      }
    },
    {
      "id": "node-2",
      "name": "Get Active Workspaces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GATEWAY_INTERNAL_URL }}/internal/workspaces/active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Internal-API-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }]
        }
      }
    },
    {
      "id": "node-3",
      "name": "Split By Workspace",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": { "batchSize": 1 }
    },
    {
      "id": "node-4",
      "name": "Get Slack Channel History",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [900, 300],
      "credentials": {
        "slackApi": { "name": "Slack Bot — SprintPulse" }
      },
      "parameters": {
        "resource": "channel",
        "operation": "history",
        "channelId": "={{ $json.slack_channel_id }}",
        "returnAll": false,
        "limit": 200,
        "filters": {
          "oldest": "={{ Math.floor((Date.now() - 30 * 60 * 1000) / 1000) }}"
        }
      }
    },
    {
      "id": "node-5",
      "name": "Filter & Classify Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const messages = $input.all().map(i => i.json);\nconst workspaceItem = $('Split By Workspace').item.json;\n\nconst BLOCKER_PATTERNS = [\n  { type: 'blocker', keywords: ['blocked', 'blocking', 'stuck', \"can't proceed\", 'cannot proceed', 'unable to proceed'] },\n  { type: 'dependency', keywords: ['waiting on', 'waiting for', 'depends on', 'dependency'] },\n  { type: 'risk', keywords: ['at risk', 'might miss', 'could miss', 'concern', 'worried about', 'escalate'] },\n  { type: 'decision', keywords: ['need decision', 'needs decision', 'waiting for approval', 'need sign-off', 'need sign off'] }\n];\n\nfunction classifyMessage(text) {\n  const lower = text.toLowerCase();\n  for (const { type, keywords } of BLOCKER_PATTERNS) {\n    const matched = keywords.filter(k => lower.includes(k));\n    if (matched.length > 0) return { type, keywords: matched };\n  }\n  return null;\n}\n\nconst signals = [];\nfor (const msg of messages) {\n  if (!msg.text || msg.subtype) continue;\n  const classification = classifyMessage(msg.text);\n  if (!classification) continue;\n\n  signals.push({\n    message_ts: msg.ts,\n    channel_id: workspaceItem.slack_channel_id,\n    author_id: msg.user ?? msg.username ?? 'unknown',\n    text: msg.text.slice(0, 2000),\n    signal_type: classification.type,\n    matched_keywords: classification.keywords,\n    detected_at: new Date(parseFloat(msg.ts) * 1000).toISOString()\n  });\n}\n\nreturn [{\n  json: {\n    workspace_id: workspaceItem.id,\n    signals,\n    channel_id: workspaceItem.slack_channel_id,\n    synced_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "node-6",
      "name": "Skip If No Signals",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.signals.length }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }
          ]
        }
      }
    },
    {
      "id": "node-7",
      "name": "POST Signals to Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 240],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GATEWAY_INTERNAL_URL }}/internal/sync/slack-signals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-API-Key", "value": "={{ $env.INTERNAL_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ $json }}"
      }
    },
    {
      "id": "node-8",
      "name": "Alert on Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1780, 460],
      "credentials": {
        "slackApi": { "name": "Slack Bot — SprintPulse Ops" }
      },
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#ops-alerts",
        "text": "🚨 *Workflow 3 — Slack Blocker Detection FAILED*\nError: {{ $json.message }}\nTimestamp: {{ new Date().toISOString() }}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Get Active Workspaces", "type": "main", "index": 0 }]] },
    "Get Active Workspaces": { "main": [[{ "node": "Split By Workspace", "type": "main", "index": 0 }]] },
    "Split By Workspace": { "main": [[{ "node": "Get Slack Channel History", "type": "main", "index": 0 }]] },
    "Get Slack Channel History": { "main": [[{ "node": "Filter & Classify Signals", "type": "main", "index": 0 }]] },
    "Filter & Classify Signals": { "main": [[{ "node": "Skip If No Signals", "type": "main", "index": 0 }]] },
    "Skip If No Signals": {
      "main": [
        [{ "node": "POST Signals to Gateway", "type": "main", "index": 0 }],
        []
      ]
    },
    "POST Signals to Gateway": {
      "main": [[{ "node": "Split By Workspace", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Alert on Error", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Workflow Error Handler"
  }
}
