apps/n8n-workflows/workflow-4-google-calendar-sync.json
{
  "name": "Workflow 4 — Microsoft Teams Meeting Sync",
  "description": "Polls Microsoft Graph every 60 minutes. Fetches Teams meetings, classifies by type (standup, retro, planning, review), and posts to /internal/sync/calendar.",
  "version": "2.0.0",
  "active": true,
  "nodes": [
    {
      "id": "node-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      }
    },
    {
      "id": "node-2",
      "name": "Get Active Workspaces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GATEWAY_INTERNAL_URL }}/internal/workspaces/active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Internal-API-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }]
        },
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "node-2b",
      "name": "Extract Workspaces",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [660, 300],
      "parameters": {
        "fieldToSplitOut": "data",
        "include": "noOtherFields"
      }
    },
    {
      "id": "node-4",
      "name": "Get Teams Meetings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "credentials": {
        "microsoftOAuth2Api": { "name": "Microsoft Graph OAuth2 — SprintPulse" }
      },
      "parameters": {
        "method": "GET",
        "url": "https://graph.microsoft.com/v1.0/me/calendarView",
        "authentication": "genericCredentialType",
        "genericAuthType": "microsoftOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "startDateTime", "value": "={{ new Date(Date.now() - 7 * 24 * 3600000).toISOString() }}" },
            { "name": "endDateTime", "value": "={{ new Date(Date.now() + 14 * 24 * 3600000).toISOString() }}" },
            { "name": "$filter", "value": "isOnlineMeeting eq true" },
            { "name": "$select", "value": "id,subject,start,end,attendees,isOnlineMeeting,onlineMeetingProvider,recurrence,organizer" },
            { "name": "$top", "value": "100" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "node-5",
      "name": "Classify Meetings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const workspace = $('Extract Workspaces').first().json;\nconst events = Array.isArray($json.value) ? $json.value : [];\n\nconst MEETING_PATTERNS = [\n  { type: 'standup', keywords: ['standup', 'stand-up', 'stand up', 'daily scrum', 'daily sync', 'daily'] },\n  { type: 'retrospective', keywords: ['retro', 'retrospective'] },\n  { type: 'sprint_planning', keywords: ['sprint planning', 'planning poker', 'story pointing', 'backlog refinement', 'grooming'] },\n  { type: 'sprint_review', keywords: ['sprint review', 'demo', 'showcase', 'sprint demo'] }\n];\n\nfunction classifyEvent(title) {\n  const lower = (title || '').toLowerCase();\n  for (const { type, keywords } of MEETING_PATTERNS) {\n    if (keywords.some(k => lower.includes(k))) return type;\n  }\n  return 'other';\n}\n\nconst classified = events\n  .filter(e => e.isOnlineMeeting && e.start?.dateTime)\n  .map(e => {\n    const startTime = new Date(e.start.dateTime).toISOString();\n    const endTime = new Date(e.end.dateTime).toISOString();\n    const durationMs = new Date(endTime) - new Date(startTime);\n    const durationMins = Math.max(0, Math.floor(durationMs / 60000));\n    return {\n      event_id: e.id,\n      title: e.subject || 'Untitled Meeting',\n      meeting_type: classifyEvent(e.subject),\n      start_time: startTime,\n      end_time: endTime,\n      attendee_count: (e.attendees ?? []).length,\n      is_recurring: e.recurrence !== null && e.recurrence !== undefined,\n      duration_minutes: durationMins\n    };\n  });\n\nreturn {\n  workspace_id: workspace.id,\n  events: classified,\n  synced_at: new Date().toISOString()\n};"
      }
    },
    {
      "id": "node-6",
      "name": "POST to Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GATEWAY_INTERNAL_URL }}/internal/sync/calendar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-API-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "node-7",
      "name": "Check Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.status }}", "rightValue": "accepted", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-8",
      "name": "Alert on Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1740, 440],
      "credentials": {
        "slackApi": { "name": "Slack Bot — SprintPulse Ops" }
      },
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $env.SLACK_OPS_CHANNEL_ID }}",
          "mode": "id"
        },
        "text": "={{ '🚨 *Workflow 4 — Teams Meeting Sync FAILED*\\nError: ' + ($json.message ?? JSON.stringify($json)) + '\\nTimestamp: ' + new Date().toISOString() }}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get Active Workspaces", "type": "main", "index": 0 }]]
    },
    "Get Active Workspaces": {
      "main": [[{ "node": "Extract Workspaces", "type": "main", "index": 0 }]]
    },
    "Extract Workspaces": {
      "main": [[{ "node": "Get Teams Meetings", "type": "main", "index": 0 }]]
    },
    "Get Teams Meetings": {
      "main": [[{ "node": "Classify Meetings", "type": "main", "index": 0 }]]
    },
    "Classify Meetings": {
      "main": [[{ "node": "POST to Gateway", "type": "main", "index": 0 }]]
    },
    "POST to Gateway": {
      "main": [[{ "node": "Check Response", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Alert on Error", "type": "main", "index": 0 }]]
    },
    "Check Response": {
      "main": [
        [],
        [{ "node": "Alert on Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
