apps/n8n-workflows/workflow-2-github-pr-sync.json
{
  "name": "Workflow 2 — GitHub PR Sync",
  "description": "Polls GitHub every 15 minutes for PR metrics. Computes review lag, merge rate, and open PR age, then posts to /internal/sync/github.",
  "version": "1.0.0",
  "active": true,
  "nodes": [
    {
      "id": "node-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      }
    },
    {
      "id": "node-2",
      "name": "Get Active Workspaces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GATEWAY_INTERNAL_URL }}/internal/workspaces/active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Internal-API-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }]
        }
      }
    },
    {
      "id": "node-3",
      "name": "Split By Workspace",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": { "batchSize": 1 }
    },
    {
      "id": "node-4",
      "name": "Get PRs from GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "githubApi": { "name": "GitHub OAuth2 — SprintPulse" }
      },
      "parameters": {
        "resource": "pullRequest",
        "operation": "getAll",
        "owner": "={{ $json.github_org }}",
        "repository": "={{ $json.github_repo }}",
        "additionalFields": {
          "state": "all",
          "sort": "updated",
          "direction": "desc",
          "perPage": 100
        }
      }
    },
    {
      "id": "node-5",
      "name": "Compute PR Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const prs = $input.all().map(i => i.json);\nconst workspaceItem = $('Split By Workspace').item.json;\nconst now = Date.now();\nconst fifteenMinsAgo = new Date(now - 15 * 60 * 1000);\n\n// Filter to PRs updated in last 15 min (incremental sync)\nconst recentPrs = prs.filter(pr => new Date(pr.updated_at) >= fifteenMinsAgo);\n\nconst merged = prs.filter(pr => pr.state === 'closed' && pr.merged_at);\nconst open = prs.filter(pr => pr.state === 'open');\nconst closedWithoutMerge = prs.filter(pr => pr.state === 'closed' && !pr.merged_at);\n\n// Review lag: time from creation to first review (use reviews if available, else use merge time)\nconst reviewLags = merged\n  .filter(pr => pr.merged_at && pr.created_at)\n  .map(pr => (new Date(pr.merged_at).getTime() - new Date(pr.created_at).getTime()) / 3600000);\n\nconst avgReviewLag = reviewLags.length > 0\n  ? reviewLags.reduce((s, v) => s + v, 0) / reviewLags.length\n  : 0;\n\nconst oldestOpenDays = open.length > 0\n  ? Math.max(...open.map(pr => (now - new Date(pr.created_at).getTime()) / 86400000))\n  : 0;\n\nconst totalClosed = merged.length + closedWithoutMerge.length;\nconst mergeRate = totalClosed > 0 ? merged.length / totalClosed : 0;\n\nreturn [{\n  json: {\n    workspace_id: workspaceItem.id,\n    repo_full_name: `${workspaceItem.github_org}/${workspaceItem.github_repo}`,\n    prs_merged: merged.length,\n    prs_open: open.length,\n    prs_closed_without_merge: closedWithoutMerge.length,\n    avg_review_lag_hours: Math.round(avgReviewLag * 10) / 10,\n    oldest_open_pr_days: Math.round(oldestOpenDays * 10) / 10,\n    merge_rate: Math.round(mergeRate * 10000) / 10000,\n    synced_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "node-6",
      "name": "POST to Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GATEWAY_INTERNAL_URL }}/internal/sync/github",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-API-Key", "value": "={{ $env.INTERNAL_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ $json }}"
      }
    },
    {
      "id": "node-7",
      "name": "Alert on Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1560, 460],
      "credentials": {
        "slackApi": { "name": "Slack Bot — SprintPulse Ops" }
      },
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#ops-alerts",
        "text": "🚨 *Workflow 2 — GitHub PR Sync FAILED*\nError: {{ $json.message }}\nTimestamp: {{ new Date().toISOString() }}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Get Active Workspaces", "type": "main", "index": 0 }]] },
    "Get Active Workspaces": { "main": [[{ "node": "Split By Workspace", "type": "main", "index": 0 }]] },
    "Split By Workspace": { "main": [[{ "node": "Get PRs from GitHub", "type": "main", "index": 0 }]] },
    "Get PRs from GitHub": { "main": [[{ "node": "Compute PR Metrics", "type": "main", "index": 0 }]] },
    "Compute PR Metrics": { "main": [[{ "node": "POST to Gateway", "type": "main", "index": 0 }]] },
    "POST to Gateway": {
      "main": [[{ "node": "Split By Workspace", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Alert on Error", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Workflow Error Handler"
  }
}
