apps/n8n-workflows/workflow-6-report-generation-trigger.json
{
  "name": "Workflow 6 — Report Generation Trigger",
  "description": "Weekly cron (Friday 08:00) and manual trigger. Creates a report record, triggers AI generation, polls for completion, and notifies on Slack.",
  "version": "2.0.0",
  "active": true,
  "nodes": [
    {
      "id": "node-cron",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 200],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * 5" }]
        }
      }
    },
    {
      "id": "node-manual",
      "name": "Manual Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 380],
      "webhookId": "manual-report-trigger",
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-reports",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      }
    },
    {
      "id": "node-get-workspaces",
      "name": "Get Active Workspaces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GATEWAY_INTERNAL_URL }}/internal/workspaces/active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Internal-API-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }]
        },
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "node-split",
      "name": "Extract Workspaces",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [700, 300],
      "parameters": {
        "fieldToSplitOut": "data",
        "include": "noOtherFields"
      }
    },
    {
      "id": "node-create-report",
      "name": "Create Report Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GATEWAY_INTERNAL_URL }}/internal/reports/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Internal-API-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workspace_id: $json.id, template: 'standard' }) }}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "node-trigger-gen",
      "name": "Trigger AI Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AI_SERVICE_INTERNAL_URL }}/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ report_id: $json.report_id, workspace_id: $json.workspace_id, sprint_id: $json.sprint_id, template: 'standard', prompt_version: 'v1.0' }) }}",
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "node-wait",
      "name": "Wait 90s for Generation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1360, 300],
      "parameters": {
        "resume": "timeInterval",
        "unit": "seconds",
        "amount": 90
      }
    },
    {
      "id": "node-poll-status",
      "name": "Poll Report Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GATEWAY_INTERNAL_URL }}/internal/reports/{{ $('Create Report Record').item.json.report_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Internal-API-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }]
        },
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "node-check-status",
      "name": "Generation Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1800, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.status }}", "rightValue": "draft", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-notify-slack",
      "name": "Notify Report Ready",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2020, 180],
      "credentials": {
        "slackApi": { "name": "Slack Bot — SprintPulse Ops" }
      },
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $env.SLACK_CHANNEL_ID }}",
          "mode": "id"
        },
        "text": "={{ '✅ *Sprint Report Ready!*\\n*' + $('Create Report Record').item.json.sprint_name + '*\\nReport ID: `' + $('Create Report Record').item.json.report_id + '`\\nGenerated at: ' + ($json.generated_at ?? new Date().toISOString()) + '\\n\\nReview it in the SprintPulse dashboard.' }}"
      }
    },
    {
      "id": "node-alert-failed",
      "name": "Alert — Generation Failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2020, 440],
      "credentials": {
        "slackApi": { "name": "Slack Bot — SprintPulse Ops" }
      },
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $env.SLACK_OPS_CHANNEL_ID }}",
          "mode": "id"
        },
        "text": "={{ '⚠️ *Report generation failed or still pending*\\nReport ID: `' + $('Create Report Record').item.json.report_id + '`\\nSprint: ' + $('Create Report Record').item.json.sprint_name + '\\nStatus: ' + $json.status + '\\nError: ' + ($json.error_message ?? 'none') }}"
      }
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [[{ "node": "Get Active Workspaces", "type": "main", "index": 0 }]]
    },
    "Manual Webhook Trigger": {
      "main": [[{ "node": "Get Active Workspaces", "type": "main", "index": 0 }]]
    },
    "Get Active Workspaces": {
      "main": [[{ "node": "Extract Workspaces", "type": "main", "index": 0 }]]
    },
    "Extract Workspaces": {
      "main": [[{ "node": "Create Report Record", "type": "main", "index": 0 }]]
    },
    "Create Report Record": {
      "main": [[{ "node": "Trigger AI Generation", "type": "main", "index": 0 }]]
    },
    "Trigger AI Generation": {
      "main": [[{ "node": "Wait 90s for Generation", "type": "main", "index": 0 }]]
    },
    "Wait 90s for Generation": {
      "main": [[{ "node": "Poll Report Status", "type": "main", "index": 0 }]]
    },
    "Poll Report Status": {
      "main": [[{ "node": "Generation Complete?", "type": "main", "index": 0 }]]
    },
    "Generation Complete?": {
      "main": [
        [{ "node": "Notify Report Ready", "type": "main", "index": 0 }],
        [{ "node": "Alert — Generation Failed", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
